#icons {
  bottom: 0;
  left: 0;
  position: fixed;
  top: 0;
  -moz-appearance: toolbar;
  width: 32px;
  margin-top: -1px;
  margin-bottom: -1px;
}

#icons div {
  opacity: .65;
  padding-top: 4px;
  padding-bottom: 5px;
  border-bottom: 2px solid black;
  -moz-border-bottom-colors: #B3B3B3 #666666;
  text-align: center;
}

#icons div:hover {
  opacity: 1;
}

#icons div.selected {
  opacity: 1;
  background-color: rgba(255,255,255,.3);
}

#icons div.notified {
  opacity: 1;
  background-color: rgba(200, 200, 255, .6);
}

#icons img {
  max-height: 32px;
  max-width: 32px;
}

#iframes {
  bottom: 0;
  left: 32px;
  position: fixed;
  top: 0;
  right: 0;
  -moz-appearance: toolbar;
  margin-top: -1px;
  margin-bottom: -1px;
}

#iframes iframe {
  background-color: rgba(255, 255, 255, .3);
  border: 0;
  display: none;
  height: 100%;
  position: absolute;
  top: 0;
}

#iframes iframe.selected {
  display: block;
}
